* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(165, 200, 167);
}

#container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

form {
    width: 600px;
    padding: 20px 25px;
    background-color: rgb(84, 115, 84);
    box-shadow: 8px 13px 25px black;
    margin-bottom: 25px;
}

legend {
    font-family:Arial, Helvetica, sans-serif;
    text-align: left;
    color: white;
}

fieldset {
    padding: 20px;
    text-align: center;
    padding-right: 20px;
}

label {
    margin-bottom: 25px;
}

.campos {
    width: 85%;
    margin: 15px;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    background-color: rgb(163, 173, 163);
}

#btn {
    width: 85%;
    height: 35px;
    border-radius: 10px;
    border: none;
    margin: 15px;
    margin-bottom: 15px;
}

form p {
    width: 85%;
    color: white;
    text-align: center;
    border-bottom: 1px solid white;
    margin-left: 35px;
    padding-bottom: 10px;
}

form a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

form p a:hover {
    text-decoration: underline;
    color: white;
}

form #btn {
    cursor: pointer;
}

form #btn:hover {
    background-color: white;
}

#back a {
    text-decoration: none;
    color:  rgb(89, 136, 89);
    font-size: 14px;
    font-weight: bold;
}

#back a:hover {
    text-decoration: underline;
    color: rgb(122, 196, 93);
}

header {
    background-color: black;
    text-align: end;
    padding: 15px;
}